@import "../../pages/var";

.header {
  min-height: 54px;
  display: flex;
  justify-content: space-between;
  padding: 26px 160px 0;
  margin: 0;

  &__elements-wrapper {
    display: flex;
    gap: 50px;
    margin-top: 2px;
    align-items: center;

    @media screen and (max-width: $tablet) {
      margin-bottom: 2px;
      gap: 29px;
    }

    @media screen and (max-width: $mobile) {
      height: 55px;
      gap: 0;
    }
  }

  &__icon {
    margin: 0;
    padding: 0;
  }

  &__text {
    font-family: $font;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: #ffffff;
    font-weight: 400;
    margin: 0;

    @media screen and (max-width: $tablet) {
      font-size: 13px;
      line-height: 125%;
    }
  }

  &__text-wrapper {
    display: flex;
    gap: 13px;
    padding-right: 3px;
  }

  @media screen and (max-width: $tablet) {
    padding: 26px 50px 0;
  }

  @media screen and (max-width: $mobile) {
    padding: 7px 20px 0;
    &__text-wrapper {
      visibility: hidden;
    }
  }
}