@import "../../pages/var";

.header {
  min-height: 54px;
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-left: 160px;
  margin: 0;

  &__elements-wrapper {
    display: flex;
    gap: 50px;
    margin-top: 2px;
    align-items: center;
    padding-right: 160px;
  }

  &__icon {
    margin: 0;
    padding: 0;
  }

  &__text {
    font-family: $font;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.01em;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
  }
  &__text-wrapper {
    display: flex;
    gap: 13px;
    padding-right: 3px;
  }
}