.content-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (width: $tablet) {
    max-width: 768px;
  }

  @media screen and (width: $mobile) {
    max-width: 320px;
  }
}