@import "../vendor/normalize.css";
@import "../vendor/fonts.css";
.page {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #000000;
}
@media screen and (width: 768px) {
  .page {
    max-width: 768px;
  }
}
@media screen and (width: 320px) {
  .page {
    max-width: 320px;
  }
}

.content-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}
@media screen and (width: 768px) {
  .content-wrapper {
    max-width: 768px;
  }
}
@media screen and (width: 320px) {
  .content-wrapper {
    max-width: 320px;
  }
}

.header {
  min-height: 54px;
  display: flex;
  justify-content: space-between;
  padding: 26px 160px 0;
  margin: 0;
}
.header__elements-wrapper {
  display: flex;
  gap: 50px;
  margin-top: 2px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header__elements-wrapper {
    margin-bottom: 2px;
    gap: 29px;
  }
}
@media screen and (max-width: 320px) {
  .header__elements-wrapper {
    height: 55px;
    gap: 0;
  }
}
.header__icon {
  margin: 0;
  padding: 0;
}
.header__text {
  font-family: "NotoSans", sans;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.01em;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .header__text {
    font-size: 13px;
    line-height: 125%;
  }
}
.header__text-wrapper {
  display: flex;
  gap: 13px;
  padding-right: 3px;
}
@media screen and (max-width: 768px) {
  .header {
    padding: 26px 50px 0;
  }
}
@media screen and (max-width: 320px) {
  .header {
    padding: 7px 20px 0;
  }
  .header__text-wrapper {
    visibility: hidden;
  }
}

.logo {
  height: 54px;
}
@media screen and (max-width: 320px) {
  .logo {
    width: 26px;
    height: 36px;
    align-self: center;
  }
}
@media screen and (max-width: 320px) {
  .logo_footer {
    width: 38px;
    height: 54px;
    margin: -11px 0 0 0;
  }
}

.button {
  border: 0;
  border-radius: 8px;
  background-color: #009465;
  color: #ffffff;
  font-family: "NotoSans", sans;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.01em;
  font-weight: 600;
  width: 218px;
  height: 48px;
  padding: 0;
  margin-bottom: 2px;
  cursor: pointer;
  align-self: center;
}
.button:hover {
  background-color: #066c4c;
  transition: background-color 0.2s;
  cursor: url("../images/Pointer.svg"), pointer;
}
@media screen and (max-width: 768px) {
  .button_header {
    width: 184px;
    height: 44px;
    padding-bottom: 2px;
    font-size: 13px;
  }
}
@media screen and (max-width: 320px) {
  .button_header {
    width: 164px;
    height: 30px;
    font-size: 10px;
    padding: 0;
    margin: 0 6px 5px -3px;
  }
  .button_footer {
    width: 140px;
    font-size: 10px;
    margin: 3px 0 4px;
    height: 30px;
  }
  .button_register {
    width: 140px;
    height: 30px;
    font-size: 10px;
  }
}

.description {
  display: flex;
  flex-direction: column;
  margin: 60px 0 80px 160px;
  background-image: url("../images/description-background.svg");
  background-repeat: no-repeat;
  background-position: top 10px right;
}
.description__bookmark {
  color: #ffffff;
  font-family: "NotoSans", sans;
  font-size: 16px;
  font-weight: 500;
  line-height: 90%;
  margin: 0 0 71px 0;
  height: 50px;
  width: 65px;
  background-color: #5036e6;
  border-radius: 0 30px 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 19px;
}
@media screen and (max-width: 320px) {
  .description__bookmark {
    height: 40px;
    width: 49px;
    font-size: 12px;
    margin: 36px 0 61px;
    padding-left: 14px;
  }
}
.description__image {
  margin-top: 181px;
  max-width: 416px;
}
@media screen and (max-width: 768px) {
  .description__image {
    margin-top: 211px;
  }
}
@media screen and (max-width: 320px) {
  .description__image {
    margin: 110px 0 20px;
  }
}
@media screen and (max-width: 768px) {
  .description {
    margin: 60px 0 50px 50px;
    background-image: url("../../images/description-background-tablet.svg");
    background-repeat: no-repeat;
    background-position: top 160px right;
  }
}
@media screen and (max-width: 320px) {
  .description {
    margin: 0 20px;
    background-image: url("../../images/description-background-mobile.svg");
    background-repeat: no-repeat;
    background-position: top 26px right;
  }
}

.title {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  color: #ffffff;
  font-family: "NotoSans", sans;
  font-size: 70px;
  font-weight: 600;
  line-height: 90%;
  max-width: 540px;
  margin: 0 0 40px;
}
@media screen and (max-width: 320px) {
  .title {
    font-size: 40px;
    margin: 0 0 20px;
    max-width: 280px;
  }
}

.text {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  color: #ffffff;
  font-family: "NotoSans", sans;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  margin: 0;
  max-width: 500px;
}
@media screen and (max-width: 320px) {
  .text {
    font-size: 12px;
    line-height: 15.6px;
    max-width: 280px;
  }
}

.team {
  background-color: #5036e6;
  padding: 80px 0 80px 160px;
}
@media screen and (max-width: 768px) {
  .team {
    padding: 50px 50px;
  }
}
@media screen and (max-width: 320px) {
  .team {
    padding: 21px 20px;
  }
}

.carousel {
  position: relative;
  margin: 110px 160px 0 0;
  display: grid;
  column-gap: 80px;
  grid-template-columns: repeat(3, 1fr);
}
.carousel__image {
  width: 320px;
  height: 320px;
  border-radius: 15px;
  object-fit: cover;
}
@media screen and (max-width: 320px) {
  .carousel__image {
    width: 280px;
    height: 280px;
  }
}
.carousel__title {
  color: #ffffff;
  font-family: "NotoSans", sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.055em;
  text-transform: uppercase;
  margin: 26px 0 0;
}
@media screen and (max-width: 320px) {
  .carousel__title {
    font-size: 18px;
    text-align: center;
    margin: 16px 0 0;
  }
}
.carousel__subtitle {
  font-family: "NotoSans", sans;
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  margin: 11px 0;
  font-weight: 400;
}
@media screen and (max-width: 320px) {
  .carousel__subtitle {
    font-size: 12px;
    text-align: center;
    margin: 1px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .carousel {
    margin: 140px 0 0;
  }
}
@media screen and (max-width: 320px) {
  .carousel {
    margin: 60px 0 0;
  }
}

.team-request {
  display: flex;
  background-color: #5036e6;
  justify-content: flex-end;
  padding-right: 140px;
  background-image: url("../../images/team-request_background.svg");
  background-repeat: no-repeat;
  background-position: 0 48px;
  padding-bottom: 40px;
}
@media screen and (max-width: 320px) {
  .team-request {
    padding-bottom: 119px;
  }
}
.team-request__wrapper {
  margin: 160px 0 130px;
}
@media screen and (max-width: 768px) {
  .team-request__wrapper {
    margin: 110px -152px 80px;
  }
}
@media screen and (max-width: 768px) {
  .team-request {
    background-image: url("../../images/team-request_background-tablet.svg");
    background-repeat: no-repeat;
    background-position: 0 38px;
  }
}
@media screen and (max-width: 320px) {
  .team-request {
    background-image: url("../../images/team-request_background-mobile.svg");
    background-repeat: no-repeat;
    background-position: 20px 293px;
    justify-content: center;
    padding-right: 0;
    margin: -38px 0 0;
  }
}

.battles {
  padding: 81px 0 80px 160px;
  background-image: url("../../images/battles-background.svg");
  background-repeat: no-repeat;
  background-position: bottom left 100px;
}
.battles__image-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 105px 160px 0;
}
@media screen and (max-width: 768px) {
  .battles__image-wrapper {
    margin: 136px 50px 0 0;
  }
}
@media screen and (max-width: 320px) {
  .battles__image-wrapper {
    justify-content: center;
    width: 280px;
    height: 70px;
    margin-top: 94px;
  }
}
@media screen and (max-width: 768px) {
  .battles {
    background-image: url("../../images/battles-background-tablet.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    padding: 50px 0 80px 50px;
  }
}
@media screen and (max-width: 320px) {
  .battles {
    padding: 21px 20px;
    background: none;
  }
}

.footer {
  background-color: #5036e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 80px 0;
}
.footer__copyright {
  font-family: "NotoSans", sans;
  color: #8e9199;
  font-size: 15.1px;
  line-height: 20px;
  margin: 18px 0 0;
  text-align: center;
}
@media screen and (max-width: 320px) {
  .footer__copyright {
    font-size: 12px;
    line-height: 12px;
    margin: 11px 0 0;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    padding: 50px 0 40px;
    gap: 37px;
  }
}

.popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.3s, opacity 0.3s linear;
  background-color: #000000;
  padding-top: 120px;
  z-index: 20;
}
.popup_opened {
  visibility: visible;
  opacity: 1;
}
.popup__container {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 320px) {
  .popup__container {
    max-width: 320px;
  }
}
.popup__title {
  color: #ffffff;
  font-size: 34px;
  font-weight: 600;
  font-family: "NotoSans", sans;
  line-height: 90%;
  margin: 51px 0 78px;
  align-self: center;
}
@media screen and (max-width: 320px) {
  .popup__title {
    font-size: 30px;
    line-height: 27px;
    margin: 40px 0 40px 0;
  }
}
@media screen and (max-width: 768px) {
  .popup {
    padding-top: 200px;
  }
}
@media screen and (max-width: 320px) {
  .popup {
    padding-top: 120px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  font-family: "NotoSans", sans;
}
.form__input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 251px;
}
@media screen and (max-width: 768px) {
  .form__input-wrapper {
    margin-bottom: 241px;
  }
}
@media screen and (max-width: 320px) {
  .form__input-wrapper {
    margin-bottom: 143px;
  }
}
.form__input {
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  width: 500px;
  height: 48px;
  background-color: #1a1a1a;
  margin-bottom: 20px;
  color: #ffffff;
  padding: 0 0 0 27px;
}
.form__input:last-child {
  margin-bottom: 0;
}
.form__input:hover {
  cursor: url("../images/Pointer.svg"), pointer;
  background: rgba(26, 26, 26, 0.6);
  color: #ffffff;
}
.form__input:focus {
  outline: 1px #5036e6 solid;
}
.form__input::placeholder {
  color: #ffffff;
}
@media screen and (max-width: 320px) {
  .form__input {
    width: 280px;
    font-size: 12px;
    padding-left: 18px;
    margin-bottom: 10px;
    height: 42px;
  }
}

.swiper-pagination {
  display: none;
}
@media screen and (max-width: 320px) {
  .swiper-pagination {
    display: block;
    margin-top: 100px;
  }
}

/*# sourceMappingURL=index.css.map */
