$font: "NotoSans", sans;
$bgColorDark: #000000;
$bgColorLight: #5036e6;
$buttonColor: #009465;
$buttonHoverColor: #066c4c;
$buttonText: #ffffff;
$testBorder: 1px red solid;
$fontColor: #ffffff;
$cursor: url("../images/Pointer.svg"), pointer;
$desktop: 1440px;
$tablet: 768px;
$mobile: 320px;